.y-dropdown{
  display: inline-block;
  font-size: 14px;
  &:hover{
    .input-box{
      .search{
        border:1px solid #40a9ff;
      }
    }
  }

  &.disabled{
    &:hover{
      .input-box{
        .search{
          border:1px solid #d9d9d9;
          input{
            cursor: not-allowed;
          }
        }
        .status{
          cursor: not-allowed;
        }
      }
    }
    background-color: rgb(235, 235, 228);
  }

  &.unfold{
    .popup{
      display: block;
    }
    .input-box{
      .search{
        border:1px solid #40a9ff;
        box-shadow: 0 0 0 3px rgba(64,169,255,.18);
        transition: all 350ms ease-in;
      }
      .status{
        .iconfont{
          transform: rotate(180deg);
        }
      }
    }
  }

  position:relative;
  width:210px;
  .input-box{
    position:relative;
    .search{
      height:32px;
      border:1px solid #d9d9d9;
      border-radius:4px;
      input{
        &::placeholder{
          color:#999;
        }
        outline: none;
        height:24px;
        padding:4px 11px;
        border:none;
        border-radius:4px;
      }
    }
    .status{
      position:absolute;
      top:0;
      right:0;
      padding:5px 7px;
      cursor: pointer;
      .iconfont{
        display: inline-block;
        transition:0.3s transform ease;
      }
    }
  }
  .popup{
    display: none;
    margin-top:-2px;
    width: 100%;
    box-sizing: border-box;
    border-radius:2px;
    overflow: hidden;
    background: #fff;
    transition: height 450ms ease-in-out;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    &-inner{
      max-height: 300px;
      overflow-y: auto;
    }
    .list{
      .noList{
        padding:8px 13px;
        color:#999;
        user-select: none;
      }

      .item{
        &.selected{
          background: #E3E3E3;
          font-weight: bolder;
        }
        padding:8px 13px;
        &:hover{
          background: #E3E3E3;
        }
      }
    }
  }
}
