.y-radio{
  display: flex;
  align-items: center;
  margin-right:18px;
  cursor: pointer;
  &:hover{
    .y-radio-box{
      border:solid 1px #1890ff;
    }
  }
  &-box{
    &.checked{
      &::before{
        content:'';
        display: table;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        background-color: #1890ff;
        border-radius: 50%;
      }
      border:solid 1px #1890ff;
      box-shadow: 0 0 0 3px rgba(24,144,255,.08);
      transition: all 350ms ease-in;
    }
    display: inline-block;
    position:relative;
    width:16px;
    height:16px;
    border-radius: 50%;
    border:solid 1px #d9d9d9;
    transition: border 350ms ease-in;
  }
  &-value{
    padding:0 6px;
  }
}

.y-radioGroup{
  display: flex;
}
