.y-input{
  &:hover{
    border-color: #40a9ff;
  }
  &:focus{
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(64,169,255,.18);
  }
  outline: none;
  width:180px;
  height:24px;
  padding:4px 11px;
  border:1px solid #d9d9d9;
  border-radius:4px;
  font-size: 12px;
  transition:all 300ms ease;
}
