.y-menu {
  position: relative;
  width: 300px;
  border-right: 1px solid #e1e1e1;
  user-select: none;
  transition: width 350ms ease;
  background: #fff;

  .y-menu-item {
    cursor: pointer;
    overflow: hidden;
    > .y-menu-item-header {
      &:hover {
        background: #e6f7ff;
      }
      &.expanded{
        >.icon-arrowDown{
          transform: rotate(-180deg);
        }
      }

      display: flex;
      justify-content: space-between;
      padding: 8px;
      >.icon-arrowDown{
        transform: rotate(0deg);
        transition: transform 350ms
      };
    }

    > .y-menu-sub {
      transition: height 350ms;
    }
  }
}