.y-Menu{
  position: relative;
  width:300px;
  border-right:1px solid #e1e1e1;
  user-select: none;
  transition: width 350ms ease;
  background: #fff;
  .y-Menu-item{
    cursor: pointer;
    >.y-Menu-item-main{
      padding:8px 0;
      &:hover{
          background: #e6f7ff;
        }
    }
  }
}