.table-view{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  .y-card{
    flex:1;
    overflow: hidden;
    .table1{
      flex:1;
      display: flex;
      .y-table-inner{

      }
    }
  }
}