.y-modal-wrapper{
  position:fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.4);
  z-index:300;
  .y-modal{
    position:relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    width:400px;
    .y-modal-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:8px 16px;
      font-size: 16px;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 4px 4px 0 0;
      user-select: none;
      overflow: hidden;
      .y-modal-header-title{
        color: rgba(0,0,0,.85);
        word-wrap: break-word;
      }
      .y-modal-header-exit{
        &:hover{
          color: rgba(0,0,0,.75);
        }
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 40px;
        color: rgba(0,0,0,.45);
        font-weight: 700;
        cursor: pointer;
        transition: color .3s;
      }
    }
    .y-modal-content{
      position:relative;
      flex:1 1;
      padding:12px 16px;
      min-height:120px;
      border-bottom: 1px solid #f0f0f0;
      font-size: 14px;
      color: rgba(0,0,0,.65);
      line-height: 1.5715;
      overflow: auto;
    }
    .y-modal-footer{
      height:56px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right:12px;
      .y-button{
        margin:8px 4px;
      }
    }
  }
}
