.y-calendar-panel{
  width: 280px;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  user-select: none;

  .y-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 39px;
    color: rgba(0, 0, 0, .85);
    border-bottom: 1px solid #f0f0f0;
    &-prev,&-next{
      line-height: 1em;
    }
    &-prev,&-view{
      color: #1890ff;
      font-weight: 700;
    }
  }

  .y-calendar-body {
    box-sizing: border-box;
    padding: 8px 12px;
    //height: 226px;
  }

  .y-calendar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    border-top: 1px solid #f0f0f0;

    .y-calendar-today-btn {
      &:hover {
        color:#40a9ff;
      }
      &:active{
        color:#096dd9;
      }

      color: #1890ff;
      transition: color .3s ease;
      text-decoration: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }
}

.y-calendar-card{
  display: flex;
  flex-direction: column;
  &-header{
    flex:1;
    display: flex;
    justify-content: space-around;
    >div{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width:36px;
      height: 30px;
    }
  }
  &-content{
    flex:1;
    color:rgba(0,0,0,.25);
    .week{
      display: flex;
      justify-content: space-around;
      .cell{
        &:hover{
          background:rgba(115, 215, 255, 0.5);
        }
        &.currMonth{
          color:rgba(0,0,0,.65);
        }
        &.isSelected{
          color: #fff;
          background: #1890ff;
        }
        &.isNow{
          border:1px solid #1890ff;
        }
        position: relative;
        z-index: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin:3px 0;
        min-width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 2px;
        transition: background .3s,border .3s;
        cursor: pointer;
      }
    }
  }
}

//全屏样式
.y-calendar-panel.fullscreen{
  display: block;
  width: 100%;
  text-align: right;
  background: #fff;
  border: 0;
  .y-calendar-header{
    width:320px;
  }
  .y-calendar-card{
    &-content{
      .cell{
        &.isSelected{
          color:rgba(0,0,0,.65);
        }
        &.isNow{
          border-bottom:none;
          border-right:none;
          border-left:none;
          border-top:2px solid #1890ff;
          background:rgba(115, 215, 255, 0.5);
          .cell-day{
            color:#fff;
            padding:0 6px;
          }
        }
        &.isSelected{
          background: #1890ff;
        }
        &:hover{
          border-top-color:#1890ff;
        }
        width:100%;
        height:120px;
        //display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        border-top:2px solid #f0f0f0;
        margin-right:12px;
        overflow: hidden;
        &-day{
          padding:0 6px;
        }
        &-dateCellRender{
          overflow: auto;
        }
      }
    }
  }
}
