.y-Steps{
  .y-Step{
    &.finish{
      >.mark{
        color:#1890ff;
      }
      >.tail{
        background:#1890ff ;
      }
    }
    &.active{
      >.mark{
        background: #1890ff;
        color:#fff;
      }
    }
    &.wait{
      >.mark{
        border-color:rgba(0,0,0,.25);
        color:rgba(0,0,0,.25);
      }
    }
    &.last{
      >.tail{
        height:0;
      }
    }

    display: flex;
    position:relative;
    background-color: #fff;

    >.mark{
      width: 24px;
      height: 24px;
      margin: 0 8px 0 0;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      border-radius: 24px;
      border:1px solid #1890ff;
    }
    >.tail{
      position:absolute;
      background: rgba(0,0,0,.25);
      bottom:8px;
      left: 13px;
      width: 1px;
      height: 27px;
    }
    >.main{
      >.title{
        font-size: 16px;
        line-height: 32px;
        color:rgba(0,0,0,0.85);
      }
      >.description{
        padding-bottom: 12px;
        line-height: 24px;
        color: rgba(0,0,0,.45);
      }
    }
  }
}
