.y-table{
  position:relative;
  box-sizing: border-box;
  border:1px solid #dfe3e8;
  font-size: 14px;
  overflow: hidden;
  .y-table-inner{
    max-height:960px;//临时
    overflow: auto;
  }
  .y-table-header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    .y-table-cell{
      background: #e9edf2;
    }
  }
  .y-table-content{
    margin-top: 35px;
    >.y-table-row:last-child{
      .y-table-cell{
        border-bottom: none;
      }
    }
  }
  .y-table-row{
    display: flex;
    flex-wrap: nowrap;
    .y-table-cell{
      &:last-child{
        border-right:none;
      }
    }
  }
  .y-table-cell{
    display: inline-block;
    flex:1 0;
    padding:8px 12px;
    border-right:1px solid #dfe3e8;
    border-bottom:1px solid #dfe3e8;
    white-space: nowrap;
    overflow: hidden;
  }
}
