.y-table {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dfe3e8;
  font-size: 14px;
  overflow: hidden;

  .y-table-inner {
    max-height: 720px; //临时
    overflow: auto;
    //overflow-y: auto;
    //overflow-x: hidden;
  }

  .y-table-left{
    position:absolute;
    top:0;
    left:0;
    bottom:8px;
    z-index: 20;
    background: #fff;
    border-right: 1px solid #dfe3e8;
    overflow: hidden;
  }

  .y-table-header {
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    .y-table-cell {
      color: #5a6c84;
      background: #e9edf2;
    }
  }

  .y-table-content {
    margin-top:40px;
    > .y-table-row:last-child {
      .y-table-cell {
        border-bottom: none;
      }
    }
  }

  .y-table-row {
    &.hover{
      background-color: rgba(0,0,0,0.04);
    }
    
    display: flex;
    flex-wrap: nowrap;

    .y-table-cell {
      &:last-child {
        border-right: none;
      }
    }
  }

  .y-table-cell {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 auto;
    //padding: 10px 12px;
    height:40px;
    padding:0 12px;
    border-right: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
    white-space: nowrap;
    overflow: hidden;
  }
}
