.y-message{
  &-box{
    display: flex;
    flex-direction: column;
    position:fixed;
    top:42px;
    left:50%;
    transform: translate(-50%,0%);
    width:400px;
    z-index:100;
    background: transparent;
  }
  margin:6px 0;

  .notice{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding:8px 12px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 gray;
    transform: translateY(0%);
    opacity: 0;
    user-select: none;
    .iconfont{
      padding:0 8px;
      &.icon-success{
        color:#52c41a;
      }
      &.icon-warn{
        color:#faad14;
      }
      &.icon-error{
        color:#f5222d;
      }
      &.icon-info{
        color:blue;
      }
    }

    animation: 3.2s linear 0s 1 normal none running spin;
    @keyframes spin{
      0% {
        opacity: 1;
        transform: translateY(0%);
      }
      10%{
        opacity: 1;
        transform: translateY(-50%);
      }
      90%{
        opacity: 1;
        transform: translateY(-50%);
      }
      100%{
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }
}
